[Unit]
Description=Generate SDDM autologin config for setup user
Before=sddm.service
After=systemd-user-sessions.service
ConditionPathExists=!/etc/sddm.conf.d/autologin.conf

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
  username=$(id -un 1000) && \
  mkdir -p /etc/sddm.conf.d/ && \
  printf "[Autologin]\nUser=%%s\nSession=plasma\n" "$username" \
  > /etc/sddm.conf.d/autologin.conf'
ExecStartPost=/bin/sh -c 'rm -f /etc/systemd/system/sddm-autologin-setup.service /etc/systemd/system/graphical.target.wants/sddm-autologin-setup.service'

[Install]
WantedBy=graphical.target
